@model IEnumerable<DiplomaApp.Data.Models.Apartament>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col"> Квартира\Дім </th>
        <th scope="col"> Ціна </th>
        <th scope="col"> Вулиця </th>
        <th scope="col"> Телефон Волонтера </th>
        <th scope="col"> Им'я </th>
        <th scope="col"> Кількість кімнат </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
    </tr>
    <tr>
        <th scope="row">2</th>
        
    </tr>
    <tr>
        <th scope="row">3</th>
        
    </tr>
    </tbody>
</table>