@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DiplomaApp.Areas.Identity.Models.RegisterViewModel

 @{
     Layout = "~/Areas/Identity/Views/Account/_LoyautAccount.cshtml"; 
 }



<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <select asp-for="RoleName" class="form-select">
                    <option value="">Оберіть:</option>
                    <option value="refugee">Біженець</option>
                    <option value="volunteer">Волонтер</option>
                    <option value="admin">Admin</option>
                </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-10">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" ></partial>
}


@*<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div class="mt-10">
        <label asp-for="FirstName"></label><br/>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="mt-10">
        <label asp-for="LastName"></label><br/>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="mt-10">
        <label asp-for="Email"></label><br/>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
  <div class="mt-10">
        <label asp-for="RoleName"></label><br/>
      @Html.DropDownListFor(m => m.RoleName, new List<SelectListItem>
      {
          new SelectListItem { Text = "Біженець", Value = "refugee" },
          new SelectListItem { Text = "Волонтер", Value = "volunteer" },
          new SelectListItem { Text = "Admin", Value = "admin" }
      }, "Оберіть")
        <span asp-validation-for="RoleName"></span>
    </div>
    <div class="mt-10">
        <label asp-for="PhoneNumber"></label><br/>
        <input asp-for="PhoneNumber"/>
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="mt-10">
        <label asp-for="Password"></label><br/>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mt-10">
        <label asp-for="PasswordConfirm"></label><br/>
        <input asp-for="PasswordConfirm"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="mt-10">
        <input class="mt-10" type="submit" value="Зареєструватися"/>
    </div>

    </form>*@
