html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px
}

.mt-10 {
    margin-top: 10px
}

.image-cart {
    width: 120px;
    height: 120px;
}

#formVolunteer {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

    #formVolunteer.open {
        display: block;
    }

#formRefugee {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

    #formRefugee.open {
        display: block;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*login*/
div.login-logout-tab div.card-header {
      padding: 0px 0px 12px 0px;
  }

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

.site-color {
    background: #46939c;
    color: #ffffff;
    border: none;
}

.site-color:hover {
    background: darkcyan;
    color: #ffffff
}

.site-price-color {
    color: darkcyan
}
.product-name {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
}


.product-type {
    color: #595959;
    font-size: 16px;
    font-weight: 300;
}

.product-name .product-type {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.filter {
    margin: 20px 0 0 10px;
}

.price-format .price {
    color: #595959;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.image-card {
    width: 285px;
    height: 320px;
}